.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 13px;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    background-color: #eee;
    cursor: pointer;
}
.button:hover {
    color: #4e879c;
}
.button:active {
    border-color: #78a2b7 !important;
    color: #3a728b !important;
}
.button:disabled {
    background-color: transparent;
    color: #444;
    pointer-events: none;
}