body {
  background-color: cadetblue;
}
.App {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.container {
  width: 350px;
  height: 250px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px 0 0 10px;
}